body.stores{
	width: 100%;
	height: auto;
    font-family: sans-serif;
}
body{
    font-family: sans-serif;
}
a{
    color: #977811;
}
input{
    width: 100%;
    font-size: 12px;
    text-align: center;
    line-height: 2rem;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 10px;
}
button.btn-store{
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 0;
}
.row{
    width: 100%;
}
.revLandHeading{
    font-size: 30px;
    font-weight: lighter;
}
.stores .container{
/*	max-width: 390px;*/
    margin: 0 auto;
    width: 100%;
    padding: 0px;
}
.bg-landing{
	/* height: 870px; */
    padding-top: 320px;
	flex-shrink: 0;
}
.bg-dark{
    background-color: #212121 !important;
}
.bg-store-gradient{
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.98) 51.04%, #000 100%);

}
.bg-eclipse {
    background: url(/stores-assets/images/stores/ellipse.png) no-repeat;
    width: 112px;
    display: block;
    height: 125px;
    background-size: 112px;
}
.clear{
	clear: both;
}
.left{
	float: left;
}
.right{
	float: right;
}
.bg-eclipse img {
    margin: 18px 0px 0px 21px;
    width: 75px;
}
.store-title {
    font-size: 30px;
    margin: 27px 0 0 7px;
    font-weight: bold;
}
.stores h1, .store-title{
/*	font-family: "Figtree", Helvetica;*/
    font-family: sans-serif;
	color: #fff!important;
}
.font-sans{
    font-family: sans-serif;
}
.font-figtree{
	font-family: "Figtree", Helvetica;
}
.font-inter{
	font-family: "Inter", Helvetica;
}
.store-heading{
    color: #fdfdfd;
    text-align: center;
    margin-top: 10px;
}
.store-description{
	color: #9c9c9c;
    font-family: sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
    text-align: center;
    line-height: 18px;
}
.btn-store{
	/*width: 310px;
	height: 66px;*/
	flex-shrink: 0;
	border-radius: 5px;
    font-family: sans-serif;
/*	font-size: 16px;*/
	font-style: normal;
/*	font-weight: bold;*/
	line-height: 37px;
/*	background: #ffffff33;*/
	display: block;
	text-align: left;
	margin-top:10px;
    background-color: #fff;
    color: #000;
    font-weight: 500;
    font-size: 14px;
    padding-left: 30%;
}

.icon-trip-advisor{
    background-color: #00bc93;
}
.icon-instagram{
    background-color: #e84064;
    color: #fff;
}
.icon-my-rewards{
    background-color: #96884e;
    color: #fff;
}

ul.button-lists li{
	position: relative;
}
.icon-google:before {
    background: url(/stores-assets/images/icons/google.png) no-repeat;
    content: " ";
    width: 30px;
    height: 30px;
    position: absolute;
    left: 26px;
    top: 4px;
    background-size: contain;
}
.icon-instagram:before {
    background: url(/stores-assets/images/icons/instagram.png) no-repeat;
    content: " ";
    width: 40px;
    height: 40px;
    position: absolute;
    left: 15px;
    top: 13px;
    background-size: contain;
    border-radius: 30px;
}
.icon-trip-advisor:before {
    background: url(/stores-assets/images/icons/tripadvisor.png) no-repeat;
    content: " ";
    width: 30px;
    height: 30px;
    position: absolute;
    left: 26px;
    top: 4px;
    background-size: contain;
}
.social-links a img {
    width: 32px;
    margin: 5px;
}
.social-links {
    width: 118px;
    margin: 0 auto;
}
/* Styles for the button */
.floating-button {
	position: absolute;
    border: none;
    width: 100%;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background: #dc3545;
    color: #fff;
    transition: bottom 0.3s ease;
}

.floating-button-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
}

/* Hover effect */
.floating-button:hover {
    background-color: #dc3545;
    color: #fff;
}

/* Adjusting z-index to ensure it's above other content */
.floating-button-container {
    position: relative;
    z-index: 1000;
    height: 100px;	
}
/*popup styles*/

.popup {
    position: fixed;
    bottom: -75%; /* Initial position, hides the popup */
    left: 0;
    width: 100%;
    background-color: #000;
    box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.1);
    transition: bottom 0.3s ease;
    z-index: 9999; /* Ensure the popup is above other content */
    padding: 20px;
    box-sizing: border-box;
    height: 75%;
    border-radius: 15px 15px 0 0;
    color: #fff;
}

/* Show popup animation */
.popup.active {
    bottom: 0;
}
.popup .close{
	border-radius: 50%;
    width: 30px;
    height: 30px;
    box-shadow: none;
    border: none;
    background-color: rgb(255 255 255 / 20%);
    left: 92%;
    position: relative;
    color: #fff;
    font-weight: 100;
}

/* Styles for the input field */
    .popup .input-container {
        position: relative;
        margin-top: 20px;
    }

    .popup input {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
        background-color: #333;
	    box-shadow: none;
	    border: none;
	    color: #fff;
    }
    .input-field:focus-visible{
    	border: none;
    	outline: none;
    }

    /*.popup .input-label {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        pointer-events: none; 
        transition: top 0.3s, font-size 0.3s, color 0.3s;
    }

    .popup .input-field:focus + .popup .input-label {
        top: 10px;
        font-size: 12px;
        color: #007bff;
    }

    .input-label.active {
	    top: -50%;
	    transform: translateY(-50%);
	    pointer-events: none;
	}*/


/* sticky button	*/
#stickyButton {
/*    position: fixed;*/
/*    bottom: 0; */
/*    left: 0; */
    width: 100%;
}
.store-logo{
    width: 30%;
    display: block;
    margin: auto;
}

/* switch button branch create page */
.custom-switch .custom-control-label::before {
    left: -2.25rem;
    width: 3rem;
    height: 1.5rem;
    border-radius: 1.5rem;
}

.custom-switch .custom-control-label::after {
    top: 0.25rem;
    left: -2rem;
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
    transform: translateX(1.5rem);
}

