body.stores{
	width: 100%;
	height: auto;
	font-family: "Figtree", Helvetica;
    /* font-family: sans-serif; */
}
.stores .container{
	max-width: 390px;
    margin: 0 auto;
    width: 100%;
    padding: 0px;
}
.bg-landing{
	/* height: 870px; */
    padding-top: 320px;
	flex-shrink: 0;
}
.bg-dark{
    background-color: #212121 !important;
}
.bg-store-gradient{
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.98) 51.04%, #000 100%);

}
.bg-eclipse {
    background: url(/stores-assets/images/stores/ellipse.png) no-repeat;
    width: 112px;
    display: block;
    height: 125px;
    background-size: 112px;
}
.clear{
	clear: both;
}
.left{
	float: left;
}
.right{
	float: right;
}
.bg-eclipse img {
    margin: 18px 0px 0px 21px;
    width: 75px;
}
.store-title {
    font-size: 30px;
    margin: 27px 0 0 7px;
    font-weight: bold;
}
.stores h1, .store-title{
	font-family: "Figtree", Helvetica;
	color: #fff!important;
}

.font-figtree{
	font-family: "Figtree", Helvetica;;
}
.font-inter{
	font-family: "Inter", Helvetica;
}
.store-heading{
    color: #fdfdfd;
    text-align: center;
    margin-top: 10px;
}
.store-description{
	color: #9c9c9c;
	font-family: Inter;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
    text-align: center;
    line-height: 18px;
}
.btn-store{
	/*width: 310px;
	height: 66px;*/
	flex-shrink: 0;
	border-radius: 5px;
	color: #FFF;
	font-family: Figtree;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	line-height: 66px;
	background: #ffffff33;
	display: block;
	text-align: center;
	margin-top:10px;
}
ul.button-lists li{
	position: relative;
}
.icon-google:before {
    background: url(/stores-assets/images/icons/google.png) no-repeat;
    content: " ";
    width: 40px;
    height: 40px;
    position: absolute;
    left: 15px;
    top: 13px;
}
.icon-open-table:before {
    background: url(/stores-assets/images/icons/opentable2.png) no-repeat;
    content: " ";
    width: 40px;
    height: 40px;
    position: absolute;
    left: 15px;
    top: 13px;
    background-size: contain;
    border-radius: 30px;
}
.icon-trip-advisor:before {
    background: url(/stores-assets/images/icons/tripadvisor.png) no-repeat;
    content: " ";
    width: 40px;
    height: 40px;
    position: absolute;
    left: 15px;
    top: 13px;
}
.social-links a img {
    width: 32px;
    margin: 5px;
}
.social-links {
    width: 118px;
    margin: 0 auto;
}
/* Styles for the button */
.floating-button {
	position: absolute;
    border: none;
    width: 100%;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background: #dc3545;
    color: #fff;
    transition: bottom 0.3s ease;
}

.floating-button-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
}

/* Hover effect */
.floating-button:hover {
    background-color: #dc3545;
    color: #fff;
}

/* Adjusting z-index to ensure it's above other content */
.floating-button-container {
    position: relative;
    z-index: 1000;
    height: 100px;	
}
/*popup styles*/

.popup {
    position: fixed;
    bottom: -75%; /* Initial position, hides the popup */
    left: 0;
    width: 100%;
    background-color: #000;
    box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.1);
    transition: bottom 0.3s ease;
    z-index: 9999; /* Ensure the popup is above other content */
    padding: 20px;
    box-sizing: border-box;
    height: 75%;
    border-radius: 15px 15px 0 0;
    color: #fff;
}

/* Show popup animation */
.popup.active {
    bottom: 0;
}
.popup .close{
	border-radius: 50%;
    width: 30px;
    height: 30px;
    box-shadow: none;
    border: none;
    background-color: rgb(255 255 255 / 20%);
    left: 92%;
    position: relative;
    color: #fff;
    font-weight: 100;
}

/* Styles for the input field */
    .popup .input-container {
        position: relative;
        margin-top: 20px;
    }

    .popup input {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
        background-color: #333;
	    box-shadow: none;
	    border: none;
	    color: #fff;
    }
    .input-field:focus-visible{
    	border: none;
    	outline: none;
    }

    /*.popup .input-label {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        pointer-events: none; 
        transition: top 0.3s, font-size 0.3s, color 0.3s;
    }

    .popup .input-field:focus + .popup .input-label {
        top: 10px;
        font-size: 12px;
        color: #007bff;
    }

    .input-label.active {
	    top: -50%;
	    transform: translateY(-50%);
	    pointer-events: none;
	}*/


/* sticky button	*/
#stickyButton {
    position: fixed;
    bottom: 0; /* Adjust as needed */
    left: 0; /* Adjust as needed */
/*    display: none; /* Initially hide the button */
}
.store-logo{
    width: 25%;
    display: block;
    margin: auto;
}