/vendor
/node_modules
Homestead.yaml
.env
/.DS_Store
/Thumbs.db
/*.sublime-project
/*.sublime-workspace
.idea
.project
_ide_helper.php
error.log
public/web.config
public/uploads/auth.ini
public/uploads/settings.ini
public/rates.json
public/openexchangerates.json
public/rates.usd.json
public/fb.json
public/web.config
public/internet-marketing
/public/themes/blankon/documentation/.sass-cache/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
todo
git.exe.stackdump
appCredentials.json
beeone.php
version
.vscode/launch.json
